# APP
APP_REPO_PATH='https://github.com/citizenwallet/app.git'
APP_REPO_NAME='app'

# Dashboard
DASHBOARD_REPO_PATH='https://github.com/citizenwallet/dashboard.git'
DASHBOARD_REPO_NAME='dashboard'
NEXT_PUBLIC_BASE_PATH='/dashboard'
NEXT_PUBLIC_BASE_ASSET_PATH='/dashboard/'

# Indexer
INDEXER_REPO_PATH='https://github.com/citizenwallet/indexer.git'
INDEXER_REPO_NAME='indexer'
GOOS='linux'
GOARCH='arm64'

# Server
NGINX_HOST='example.com'