# PUBLIC
NEXT_PUBLIC_BASE_PATH='/dashboard'
NEXT_PUBLIC_BASE_ASSET_PATH='/dashboard/'
NEXT_PUBLIC_SESSION_BALANCE_TRANSFER_ADDRESS='0x'
NEXT_PUBLIC_IPFS_CDN_URL='https://ipfs.internal.citizenwallet.xyz'
NEXT_PUBLIC_COMMUNITY_THEME_PRIMARY_COLOR='#9563D3'

# SERVER
APP_BASE_URL='https://app.citizenwallet.xyz/#/'
NATIVE_APP_DEEP_LINK='citizenwallet://app.citizenwallet.xyz'
IPFS_API_KEY='x'
IPFS_API_SECRET='x'
